BODY, TH, TD { font-family: 'Helvetica, Arial';
      	       font-size: 11pt; }
BODY { background-color: e7e7e7; 
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:right bottom; }

#wrap {background-color: white; width:920; text-align:left; margin:0 auto; }  
#inner { margin:0 10px; }  
#leftbody { width:450px; float:left; }  
#rightbody { width:450px; float:right; }  
.clear { clear:both; }  
.clear hr { display:none; }  


H1 {
	background-image: url("http://hinotori.hiroshima-u.ac.jp/logo_s.jpg");
	background-size: 116px 130px;
	background-repeat:no-repeat;
	background-position:left top;
        padding: 55px 0px 61px 130px;
      }
H2 { border-left: solid 0.5em black;
     border-bottom: solid 1px black;
     padding: 0.25em; }
P.section { border-left: solid 0.25em black;
            padding: 0.25em;
            font-weight: bold;
            font-size: 12pt; }
P.subsection{ text-indent: 10pt;
            font-weight: bold;
            font-size: 11pt;}
span.em { border-bottom : solid 1px black;
          background-color: e7e7e7; }


a {
	text-decoration: none;
	border-bottom: 1px dashed;
}

a:link { color: #0000f0; }
a:visited { color: #000080; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }

ol {
	list-style-type: lower-greek;
	margin: 0 0 0 2em;
	padding: 0;
}

table {
	background-color: rgb( 50%, 50%, 50% );
}

td {
	background-color: rgb( 100%, 100%, 100% );
	text-align: center;
}

#left {
	background-color: rgb( 100%, 100%, 100% );
	text-align: left;
}

#head {
	background-color: rgb( 90%, 90%, 90% );
	text-align: center;
}

th {
	background-color: rgb( 80%, 80%, 80% );
	text-align: center;
}

#calender {
	background-color: rgb( 80%, 80%, 80% );
	text-align: center;
	width: 80px;
}

#comment {
	background-color: rgb( 80%, 80%, 80% );
	text-align: center;
	width: 160px;
}

hr {
	height: 2px;
	background-color: rgb( 80%, 80%, 80% );
	border: none;
#	color: #ff0000;
}

input, select, textarea {
	background-color: rgb( 80%, 80%, 80% );
}

#container {
	background-color: rgba( 100%, 100%, 100%, 0.5 );
	border: 1px solid rgb( 100%, 100%, 100% );
}

#rightimg { 
	float: right;
	border: 1px solid rgb( 0%, 0%, 0% );
	background-color: rgba( 90%, 90%, 90%, 0.5 );
#	background-color: #CCCCFF;
	width: 200px;
	font-style:italic;
}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44783781-1', 'hiroshima-u.ac.jp');
  ga('send', 'pageview');

</script>
